<!-- https://getbootstrap.com/docs/5.2/components/carousel/#with-captions -->
<!--<div class="col-sm-9 title">-->
    <div id="myCarousel" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label= {{ 'carousel.berlin_marathon.title' |trans({}, "messages", locale) }}></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label={{ 'carousel.mesnieres.title' |trans({}, "messages", locale) }}></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label={{ 'carousel.fedora_workstation.title' |trans({}, "messages", locale) }}></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label={{ 'carousel.fontainebleau.title' |trans({}, "messages", locale) }}></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/carousel/berlin2014.jpg') }}" class="d-block w-100" alt="Berlin Marathon">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ 'carousel.berlin_marathon.title' |trans({}, "messages", locale) }}</h5>
                    <p>{{ 'carousel.berlin_marathon.desc' |trans({}, "messages", locale) }}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/carousel/mesnieres.jpg') }}" class="d-block w-100" alt="Castle of Mesnieres">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ 'carousel.mesnieres.title' |trans({}, "messages", locale) }}</h5>
                    <p>{{ 'carousel.mesnieres.desc' |trans({}, "messages", locale) }}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/carousel/fedora27.jpg') }}" class="d-block w-100" alt="My Fedora Workstation">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ 'carousel.fedora_workstation.title' |trans({}, "messages", locale) }}</h5>
                    <p>{{ 'carousel.fedora_workstation.desc' |trans({}, "messages", locale) }}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/carousel/seineboisleroi.jpg') }}" class="d-block w-100" alt="Seine near Fontainebleau">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ 'carousel.fontainebleau.title' |trans({}, "messages", locale) }}</h5>
                    <p>}{{ 'carousel.fontainebleau.desc' |trans({}, "messages", locale) }}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ 'carousel.prev.info' |trans({}, "messages", locale) }}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{ 'carousel.next.info' |trans({}, "messages", locale) }}</span>
        </button>
    </div>
<!--</div>-->
